* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-color: #f1c40f;
    --highligh-grey:#dddddd;
}

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #eeeeee;
}

#header {
    width: 100%;
    padding: 15px 0 5px 20px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eeeeee;
}

.header-img {
    width: 35rem;
    height: auto;
}

nav {
    width: 40vw;
    margin-bottom: 8px;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-content: end;
}

@media (max-width: 650px){
    nav> ul{
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
}

.nav-link {
    text-decoration: none;
    color: rgb(56, 56, 56);
    font-size: 1.6rem;
}

main {
    width: 80%;
    margin: 10px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

h1 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-shadow: 1px 1px black;
}

#email {
    width: 250px;
    height: 25px;
}

input[type="submit"] {
    width: 125px;
    background-color: var(--button-color);
    height: 30px;
    color: black;
    font-weight: 800;
    border: none;
    vertical-align: center;
}

section {
    width: 100%;
    margin: 5rem 0;
    padding: 1px;
}

.features-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    width: 100%;
}



.feature {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
}

.icon {
    width: 10%;
    font-size: 17px;
    margin: 10px 20px;
    color: #ff8c00;
}

@media (max-width: 550px){
    .icon{
        display: none;
    }

    h2 {
        text-align: center;
    }
    
    .feature-details > p {
        text-align: left;
    }

    header{
        flex-direction: column;
    }

    .header-img {
        margin: 0 auto;
    }
    
    nav {
        margin: 0 auto;
    }
}


.feature-details {
    width: 80%;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
}

.feature-details > p {
    font-weight: 400;
    font-size: 1.7rem;
    text-align: left;
}

iframe {
    display: block;
    height: 315px;
    max-width: 560px;
    width: calc(100vw - 20px);
    margin: 0 auto;
}

#pricing-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item {
    border: 1px solid black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 30%;
}

h3{
    background-color: var(--highligh-grey);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 500;
}

p{
    text-align: center;
    margin: 10px 0;
    font-size: 1.7rem;
}

.price{
    font-weight: 600;
    font-size: 2.5rem;
    margin: 20px 0;
}


button {
    background-color: var(--button-color);
    border: none;
    width: 100px;
    height: 35px;
    font-size: 1.8rem;
    display: block;
    margin: 30px auto 10px auto;
}

footer{
    background-color: var(--highligh-grey);
    padding: 0 20px 20px 0;
}

footer> p{
    text-align: right;
    font-size: 1.5rem;;
}

footer> ul{
    list-style: none;
    display: flex;
    justify-content: end;
    column-gap: 20px;
}

footer> ul> li{
    margin: 15px 0 0 0;
    font-size: 1.7rem;
}

@media (max-width: 768px) {
    main {
        width: 100%;
        margin: 0;
    }

    #pricing-container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .item{
        width: 300px;
    }
}