*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111827;
    color: #e5e7eb;
}

h1{
    text-align: center;
    margin: 30px auto;
    font-size: 40px;
}

.main-container{
    margin-top: 100px;
    .container{
        margin: 20px auto;
        display: flex;
        justify-content: space-evenly;
        width: 90vw;
        max-width: 645px;

        .object{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
            max-width: 200px;
            border: 2px solid orange;
            border-radius: 5px;
            background-color: black;
            user-select: none;

            p{
                text-align: center;
                margin: 20px auto;
            }

            .description{
                font-size: 20px;
                font-weight: 700;;
            }

            .tip-text{
                font-size: 11px;
            }
        }
    }

    .status-display{
        text-align: center;
    }
}

.winMsg{
    display: none;
    position: absolute;
    top: 40%;
    left: calc(50% - 100px);
    width: 200px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #e5e7eb;
    color:#111827;
    user-select: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;

    .replayBtn{
        border-radius: 10px;
        border: 2px solid black;

    }
}

